
.card{
    margin-left: 100px;
    margin-top: 10px;
}

#mood{
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #66b5ff;
}

#slider{
    margin-top: 30px;
}

.col-md-9{  
  font-family: 'Gloria Hallelujah', cursive;
  color: #66b5ff;
  font-size: 45px;
}

.navbar{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;        
}
